<section>
    <h2 class="section-title float-left">Storypins</h2>
    <button class="sidebar-button float-right">Bulk Upload</button>
    <button class="sidebar-button float-right">Add New StoryPin</button>
</section>
<section class="accordion-item">
    <div class="title-row">
        <h2>First StoryPin</h2>
        <i class="fa fa-trash delete"></i>
        <i class="fa fa-caret-down caret"></i>
    </div>
</section>
<section class="accordion-item active">
    <div class="title-row">
        <h2>StoryPin Name</h2>
        <i class="fa fa-trash delete"></i>
        <i class="fa fa-caret-up caret"></i>
    </div>
    <form>
        <div class="form-field">
            <label for="storypin_title">StoryPin Title</label>
            <strong><abbr title="required">*</abbr></strong>
            <br />
            <input id="storypin_title" type="text" name="storypin_title" />
        </div>
        <div class="form-field">
            <label for="storypin_text">StoryPin Text</label>
            <strong><abbr title="required">*</abbr></strong>
            <br />
            <input id="storypin_text" type="text" name="storypin_text" />
        </div>
        <div class="form-field">
            <label for="storypin_media">StoryPin Media</label>
            <strong><abbr title="required">*</abbr></strong>
            <br />
            <textarea id="storypin_media" rows="10" name="storypin_media" required /></textarea>
        </div>
        <div class="form-field">
            <label for="start_time">Start Time</label>
            <strong><abbr title="required">*</abbr></strong>
            <br />
            <input type="date" name="start_time_date">
            <input type="time" name="start_time_time">
        </div>
        <div class="form-field">
            <label for="end_time">End Time</label>
            <strong><abbr title="required">*</abbr></strong>
            <br />
            <input type="date" name="end_time_date">
            <input type="time" name="end_time_time">
        </div>
        <div class="form-field">
            <label for="storypin_playback_options">StoryPin Playback Options</label>
            <br />
            <label class="switch">
                <input type="checkbox" for="timeline">
                <div class="slider round"></div>
            </label>
            <label for="timeline">Show StoryPin on Timeline</label>
            <br />
            <label class="switch">
                <input type="checkbox" for="map">
                <div class="slider round"></div>
            </label>
            <label for="map">Show StoryPin on Map</label>
            <br />
            <label class="switch">
                <input type="checkbox" for="pause_playback">
                <div class="slider round"></div>
            </label>
            <label for="pause_playback">Pause playback when StoryPin appears</label>
            <br />
            <label class="switch">
                <input type="checkbox" for="play_embedded">
                <div class="slider round"></div>
            </label>
            <label for="play_embedded">Play embedded StoryPin media automatically</label>
        </div>

    </form>
</section>
