version: '3.5'
services:

  composer:
    build: .
    networks:
      internal:
    volumes:
      - .:/srv/story-tools-composer
    ports:
      - "9090:9090"
    command: [--bundle-dev, --serve-dev]

networks:
  internal:
