#map {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.ol-zoom {
  top: 8.5em;
  right: 0.5em;
  left: unset;
}
.ol-attribution {
  top: 13.5em;
  bottom: auto;
}
.ol-scale-line {
  bottom: 30px;
}

.metric-scale-line {
  left: 110px;
}

.popover-content {
  min-width: 180px;
}
