#map {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.ol-zoom {
  top: 8.5em;
  right: 0.5em;
  left: unset;
}
.ol-attribution {
  top: 13.5em;
  bottom: auto;
}
.ol-scale-line {
  bottom: 50px;
}

.metric-scale-line {
  left: 110px;
}

.popover-content {
  min-width: 180px;
}

.legend-btn-border {
  padding: 2px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 10px;
  left: auto;
  border-radius: 4px;
}

#legend-container {
  overflow-y: scroll;
  position: absolute;
  top: 100px;
  right: 50px;
  left: auto;
  z-index: 250;
  width: 200px;
  max-height: 100%;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #666;
  background-color: whitesmoke;
  visibility: hidden;
  .panel {
    max-height: 450px;
    overflow-y: hidden;
  }
}

.legend-panel-body {
  background-color: transparent !important;
}

.legend-item {
  padding-left: 20px;
  padding-right: 5px;
}

.legend-item-header {
  width: auto;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background: #ccc;
  border-radius: 3px !important;
}

.stLegend{
  display: inline-block;
  top: 118px;
  position: relative;
  z-index: 999;
  right: 64px;
}

#legend-btn-border {
  top: 100px;
}
#legend-btn {
  height: 22px;
  width: 22px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  .glyphicon {
    padding-left: 3px;
    padding-top: 2px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

.legend-panel-title {
  display: inline-block;
}

#legend-title-heading {
  display: none;
}

#legend-title-text {
  padding-right: 5px;
}

/* Center the loader */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}