.storyframe-details {
    max-height: 250px;
    transition: .8s;
    overflow: hidden;
}

.storyframe-details.hidden {
    max-height: 0;
}

#createdStoryframes ul  {
    font-size:80%;
    padding-bottom: 10px;
}

#createdStoryframes > div > i {
    float:right;
}

#createdStoryframes > div {
    margin-top:10px;
    border-bottom:1px solid #CCC;
    padding:5px;
}
