<form role="form" ng-submit="addLayerFromSearchResults(searchValue, asVector)" id="layerName">
    <div class="form-group">
        <label for="typename">Layer Name</label>
        <input autocomplete="off" ng-model="searchValue" type="text" class="form-control"
               id="typename" typeahead-no-results="noResults"
               uib-typeahead="suggestion for suggestion in getResults($viewValue)" placeholder="Layer name in mapstory">
    </div>
    <div id="noResults"></div>
    <div>
        <button type="submit" id="addLayer">
            <span>Add</span>
        </button>
    </div>
</form>
