<uib-accordion close-others="true" sv-root sv-part="layers" sv-on-sort="onSort($item, $partFrom, $partTo, $indexFrom, $indexTo)">

    <div uib-accordion-group is-open="status.open">
        <uib-accordion-heading>
            Add a StoryLayer <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <add-layers map="map"></add-layers>
    </div>

    <div uib-accordion-group sv-element ng-repeat="layer in layers" is-open="accordianOpen" ng-init="accordianOpen = $first">
        <uib-accordion-heading>
            {{layer.get('title')}}
            <div class="pull-right">
                <button type="button" data-toggle="button" ng-click="modifyLayer(layer); $event.preventDefault();" class="btn btn-xs btn-inverse">
                    <div class="stLoading" spinner-radius="16" spinner-hidden="!swapping"></div>
                    <i class="glyphicon glyphicon-cog"></i>
                </button>
                <button type="button" data-toggle="button" ng-click="toggleVisibleLayer(layer); $event.preventDefault();" class="btn btn-xs btn-inverse">
                    <i class="glyphicon" ng-class="{'glyphicon-eye-open': layer.get('visibility'), 'glyphicon-eye-close': !layer.get('visibility')}"></i>
                </button>
                <button type="button" data-toggle="button" ng-click="removeLayer(layer); $event.preventDefault();" class="btn btn-xs btn-inverse">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </uib-accordion-heading>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                      <strong>Name:</strong>
                    </div>
                    <div class="col-sm-10">
                        {{layer.getProperties().name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <strong>Type:</strong>
                    </div>
                    <div class="col-sm-10">
                        {{layer.getProperties().type}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <strong>Visibility:</strong>
                    </div>
                    <div class="col-sm-10">
                      <label class="checkbox-inline" for="visibility-{{layer.getProperties().name}}" style="padding-left:45px;padding-top:4px;">
                      <input type="checkbox" ng-model="allowPan" checked="true" id="visibility-{{layer.getProperties().name}}" data-toggle="checkbox"
                             class="checkbox-inline"></input>
                      <span class="icons">
                          <span class="icon-unchecked"></span>
                          <span class="icon-checked"></span>
                      </span>
                      </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div uib-accordion-group>
        <uib-accordion-heading>
            Basemaps <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div>
            <button style="height: 100px; border:1px white solid; color:#2C3E50; background-image:url('img/{{ baseLayer.name}}.png');" class="btn col-xs-4" ng-repeat="baseLayer in baseLayers" ng-click="onChange(baseLayer)">{{baseLayer.title}}</button>
        </div>
    </div>
</uib-accordion>

</div>
