<div ng-if="styleActivated">
    <ng-include src="'app/layers/templates/style-bar.html'"></ng-include>
</div>
<div ng-if="!styleActivated">
<uib-accordion close-others="true" sv-root sv-part="layers" sv-on-sort="onSort($item, $partFrom, $partTo, $indexFrom, $indexTo)">

    <div uib-accordion-group is-open="status.open">
        <uib-accordion-heading>
            Add a {{ stateSvc.config.branding.layerName }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <add-layers map="map"></add-layers>
    </div>

    <div uib-accordion-group sv-element ng-repeat="layer in layers" is-open="accordianOpen" ng-init="accordianOpen = $first">
        <uib-accordion-heading>
            {{layer.get('title')}}
        </uib-accordion-heading>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                      <strong>Name:</strong>
                    </div>
                    <div class="col-sm-10">
                        {{layer.getProperties().name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <strong>Type:</strong>
                    </div>
                    <div class="col-sm-10">
                        {{layer.getProperties().type}}
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" data-toggle="button" ng-click="toggleStyle(layer);$event.preventDefault(); $event.preventDefault();" class="btn btn-xs btn-inverse" uib-tooltip="Style">
                <i class="fa fa-paint-brush"></i>
            </button>
            <button type="button" data-toggle="button" ng-click="toggleVisibleLayer(layer); $event.preventDefault();" class="btn btn-xs btn-inverse" uib-tooltip="Visibility">
                <i class="glyphicon" ng-class="{'glyphicon-eye-open': layer.get('visibility'), 'glyphicon-eye-close': !layer.get('visibility')}"></i>
            </button>
            <button type="button" data-toggle="button" ng-click="removeLayer(layer); $event.preventDefault();" class="btn btn-xs btn-inverse" uib-tooltip="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>

    </div>
    <div uib-accordion-group>
        <uib-accordion-heading>
            Basemaps <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div>
            <button style="height: 100px; border:1px white solid; color:#2C3E50; background-image:url('img/{{ baseLayer.name}}.png');" class="btn col-xs-4" ng-repeat="baseLayer in baseLayers" ng-click="onChange(baseLayer)">{{baseLayer.title}}</button>
        </div>
    </div>
</uib-accordion>

</div>
