<section>
    <h2 class="section-title float-left">StoryFrames</h2>
    <button class="sidebar-button" ng-click="showForm = !showForm">Create New StoryFrame</button>
    <br/>
    <p class="clearfix" id="storyDescription">
        A StoryFrame defines the area of the map a viewer of your story will see.
        Set the default StoryFrame below, or create additional StoryFrames to
        override the part of the map your viewers will see for this chapter.
    </p>
</section>

<div id="createdStoryframes" ng-show="frameSettings">
    <h2 class="section-title float-left clearfix" ng-if="frameSettings.length">Created Storyframes</h2>
    <div class="clearfix" ng-repeat="item in frameSettings">
        <div id="titleBar">
            <a ng-click="showDetails = ! showDetails" id="storyframeTitle" class="section-title">
                <i class="fa fa-expand"></i> {{ item.title }}
            </a>
            <i class="fa fa-trash" ng-click="deleteStoryframe($index)"></i>
            <i class="fa fa-edit" ng-click="editStoryframe($index)"></i>
        </div>
        <ul class="storyframe-details" ng-class="{ 'hidden': ! showDetails }">
            <li><strong>Bounding Box:</strong></li>
            <ol>
                <li>{{ item.bb1[0] | limitTo: 7 }}, {{ item.bb1[1] | limitTo: 7 }}</li>
                <li>{{ item.bb2[0] | limitTo: 7 }}, {{ item.bb2[1] | limitTo: 7 }}</li>
                <li>{{ item.bb3[0] | limitTo: 7 }}, {{ item.bb3[1] | limitTo: 7 }}</li>
                <li>{{ item.bb4[0] | limitTo: 7 }}, {{ item.bb4[1] | limitTo: 7 }}</li>
            </ol>
            <li><strong>Start Date:</strong> {{ item.startDate | date: 'mediumDate' }}</li>
            <li><strong>Start Time:</strong> {{ item.startTime | date: 'h:mma' }}</li>
            <li><strong>End Date:</strong> {{ item.endDate | date: 'mediumDate' }}</li>
            <li><strong>End Time:</strong> {{ item.endTime | date: 'h:mma' }}</li>
        </ul>
    </div>
</div>

<form ng-show="showForm == true" id="storySettings">
    <label>*Title</label>
    <input id="storypin_title" type="text" ng-model="frameSettings.title" required/>

    <label>*Start Date</label>
    <div>
        <input type="date" ng-model="frameSettings.startDate" required/>
        <span class="fa fa-calendar input-icons"></span>
        <input type="time" ng-model="frameSettings.startTime">
        <span class="fa fa-clock-o input-icons"></span>
    </div>

    <label>*End Date</label>
    <div>
        <input type="date" ng-model="frameSettings.endDate" required/>
        <span class="fa fa-calendar input-icons"></span>
        <input type="time" ng-model="frameSettings.endTime">
        <span class="fa fa-clock-o input-icons"></span>
    </div>

    <div id="setPlacement">
        <button class="btn btn-inverse" ng-click="drawBoundingBox()" uib-tooltip="Select area for your StoryFrame">
            <i class="fa fa-map"></i>&nbsp;
            Create Bounding Box
        </button>
    </div>
    <hr/>

    <div class="alert alert-danger missingFieldMsg" ng-show="bbDefined == false">
        <p>Please create a bounding box for your StoryFrame.</p>
    </div>

    <div class="alert alert-danger missingFieldMsg" ng-show="showOverlapMsg">
        <p>You have overlapping StoryFrames. Please adjust your dates:</p>
        <p>{{ frameSettings.startDate | date: 'mediumDate' }} -  {{ frameSettings.endDate | date: 'mediumDate'}}</p>
    </div>

    <button class="btn btn-inverse" ng-class="{'disabled': disableButton}" ng-click="checkBBDefined(frameSettings)">Save</button>
    <button class="btn btn-inverse" ng-show="disableButton" ng-click="updateStoryframe(frameSettings, $index)">Update</button>
    <button class="btn btn-inverse" type="reset" ng-click="clearBoundingBox()">Reset</button>
</form>
</section>
<br/><br/>