<section>
    <h2 class="section-title float-left">StoryFrames</h2>
    <button class="sidebar-button" ng-click="showForm = !showForm">Create New StoryFrame</button>
    <br/>
    <p class="clearfix" id="storyDescription">
        A StoryFrame defines the area of the map a viewer of your story will see.
        Set the default StoryFrame below, or create additional StoryFrames to
        override the part of the map your viewers will see for this chapter.
      </p>
  </section>

  <div id="createdStoryframes" ng-show="frameSettings">
      <h2 class="section-title float-left clearfix" ng-if="frameSettings.length">Created Storyframes</h2>
      <div class="clearfix" ng-repeat="item in frameSettings">
          <div ng-class="{ 'defaultStory':  isDefault }" id="titleBar">
              <a href="#" ng-click="showDetails = ! showDetails" id="storyframeTitle" class="section-title">
                  <i class="fa fa-expand"></i> {{ item.title }}
              </a>
              <i class="fa fa-trash" ng-click="deleteStoryframe($index)"></i>
              <i class="fa fa-home" ng-click="setDefaultStoryframe($index); isDefault = ! isDefault"></i>
              <i class="fa fa-edit" ng-click="editStoryframe($index)"></i>
          </div>
          <ul class="storyframe-details" ng-class="{ 'hidden': ! showDetails }">
              <li>Bounding Box:</li>
              <ol>
                  <li>{{ item.bb1[0] | limitTo: 7 }}, {{ item.bb1[1] | limitTo: 7 }}</li>
                  <li>{{ item.bb2[0] | limitTo: 7 }}, {{ item.bb2[1] | limitTo: 7 }}</li>
                  <li>{{ item.bb3[0] | limitTo: 7 }}, {{ item.bb3[1] | limitTo: 7 }}</li>
                  <li>{{ item.bb4[0] | limitTo: 7 }}, {{ item.bb4[1] | limitTo: 7 }}</li>
              </ol>
              <li>Start Date: {{ item.startDate | date: 'mediumDate' }}</li>
              <li>Start Time: {{ item.startTime | date: 'h:mma' }}</li>
              <li>End Date: {{ item.endDate | date: 'mediumDate' }}</li>
              <li>End Time: {{ item.endTime | date: 'h:mma' }}</li>
          </ul>
      </div>
  </div>
  <br/>
     <form ng-show="showForm == true" id="storySettings">
         <div class="form-field">
             <label for="storypin_title">
                 Title
                 <strong><abbr title="required">*</abbr></strong>
                 <input id="storypin_title" type="text" name="storypin_title" ng-model="frameSettings.title"/>
             </label>
             <br />
              <label for="start_date">Start Date</label>
              <strong><abbr title="required">*</abbr></strong>
              <br />
              <input type="date" ng-model="frameSettings.startDate">
              <br />
             <label for="start_time">Start Time</label>
              <strong><abbr title="required">*</abbr></strong>
              <br />
              <input type="time" name="start_time_time" ng-model="frameSettings.startTime">
          </div>
          <div class="form-field">
              <label for="end_date">End Date</label>
              <strong><abbr title="required">*</abbr></strong>
              <br />
              <input type="date" name="end_time_date" ng-model="frameSettings.endDate">
              <label for="end_time">End Time</label>
              <strong><abbr title="required">*</abbr></strong>
              <br />
              <input type="time" name="end_time_time" ng-model="frameSettings.endTime">
          </div>

         <div id="setPlacement">
             <p href="#" ng-click="drawBoundingBox()">Set Placement for Storyframe on map.</p>
         </div>

         <button class="btn btn-inverse" ng-class="{'disabled': disableButton}" ng-click="storyDetails(frameSettings)">Save</button>
         <button class="btn btn-inverse" ng-show="disableButton" ng-click="updateStoryframeRecord(frameSettings, $index)">Update</button>
         <button class="btn btn-inverse" type="reset">Reset</button>
      </form>
  </section>
  <br/><br/>
