<div ng-controller="frameController">
<section>
    <h2 class="section-title float-left">Create StoryFrame</h2>
    <br/>
    <p class="clearfix" id="storyDescription">
        A StoryFrame defines the area of the map a viewer of your story will see.
        Set the default StoryFrame below, or create additional StoryFrames to
        override the part of the map your viewers will see for this chapter.
    </p>
</section>

<div id="createdStoryframes" ng-show="copiedFrameSettings">
    <h2 class="section-title float-left clearfix" ng-if="copiedFrameSettings.length">Created Storyframes</h2>
    <div class="clearfix" ng-if="item.title" ng-repeat="item in copiedFrameSettings">
        <div id="titleBar" ng-show="item.chapter === stateSvc.getChapterIndex()">
            <a ng-click="showDetails = !showDetails" id="storyframeTitle" class="section-title">
                <i class="fa fa-expand"></i> {{ item.title }}
            </a>
            <i class="fa fa-trash" ng-click="deleteStoryframe($index)" uib-tooltip="Delete StoryFrame"/>
            <i class="fa fa-edit" ng-click="editStoryframe($index)" uib-tooltip="Edit StoryFrame"/>
        </div>
        <ul class="storyframe-details" ng-show="showDetails">
            <li><strong>Start Date:</strong> {{ item.startDate | date: 'mediumDate' }}</li>
            <li><strong>End Date:</strong> {{ item.endDate | date: 'mediumDate' }}</li>
            <li><strong>Bounding Box:</strong></li>
            <ol>
                <li>{{ item.bb1[0] | limitTo: 7 }}, {{ item.bb1[1] | limitTo: 7 }}</li>
                <li>{{ item.bb2[0] | limitTo: 7 }}, {{ item.bb2[1] | limitTo: 7 }}</li>
                <li>{{ item.bb3[0] | limitTo: 7 }}, {{ item.bb3[1] | limitTo: 7 }}</li>
                <li>{{ item.bb4[0] | limitTo: 7 }}, {{ item.bb4[1] | limitTo: 7 }}</li>
            </ol>
        </ul>
    </div>
</div>

<form name="storyFrameDetails" id="storySettings">
    <label>*Title</label>
    <input id="frameTitle" type="text" ng-model="frameSettings[currentIndex].title" aria-label="title" required/>

    <label>*Start Date</label>
    <div>
        <input name="startDate" id="startDate" type="date" min="{{minDate}}" max="{{maxDate}}" ng-model-options="{updateOn: 'blur'}" ng-model="frameSettings[currentIndex].startDate" aria-label="start date" required/>
        <span class="fa fa-calendar input-icons"/>
        <div class="invalid-feedback">
            <div ng-if="storyFrameDetails.startDate.$error.date">Invalid date</div>
            <div ng-if="storyFrameDetails.startDate.$error.min">Date must be after {{minMoment.format("MM/DD/YYYY")}}</div>
            <div ng-if="storyFrameDetails.startDate.$error.max">Date must be before {{maxMoment.format("MM/DD/YYYY")}}</div>
        </div>
    </div>

    <label>*End Date</label>
    <div>
        <input id="endDate" name="endDate" type="date" min="{{minDate}}" max="{{maxDate}}" ng-model-options="{updateOn: 'blur'}" ng-model="frameSettings[currentIndex].endDate" aria-label="end date" required/>
        <span class="fa fa-calendar input-icons"/>
        <div class="invalid-feedback">
            <div ng-if="storyFrameDetails.endDate.$error.date">Invalid date</div>
            <div ng-if="storyFrameDetails.endDate.$error.min">Date must be after {{minMoment.format("MM/DD/YYYY")}}</div>
            <div ng-if="storyFrameDetails.endDate.$error.max">Date must be before {{maxMoment.format("MM/DD/YYYY")}}</div>
        </div>
    </div>

    <div id="setPlacement">
        <button class="btn btn-inverse" ng-click="drawBoundingBox()"  uib-tooltip="Hold shift key and drag to create a StoryFrame.">
            <i class="fa fa-map"/>&nbsp;
            Create Bounding Box
        </button>
    </div>
    <hr/>

    <div class="alert alert-danger missingFieldMsg" ng-show="bbDefined == false">
        <p>Please create a bounding box for your StoryFrame.</p>
    </div>

    <div class="alert alert-danger missingFieldMsg" ng-show="showOverlapMsg" class="missingFieldMsg">
        <p>You have overlapping StoryFrames. Please adjust your dates:</p>
        <p>{{ frameSettings[currentIndex].startDate | date: 'mediumDate' }} - {{ frameSettings[currentIndex].endDate | date: 'mediumDate'}}</p>
    </div>

    <button class="btn btn-inverse" ng-class="{'disabled': disableButton}" ng-click="checkBBDefined(frameSettings);">Add</button>
    <button class="btn btn-inverse" ng-show="disableButton" ng-click="updateStoryframe(frameSettings, $index)">Update</button>
    <button class="btn btn-inverse" type="reset" ng-click="clearBoundingBox()">Reset</button>
</form>
</section>
</div>
<br/><br/>