<header>
    <div class="story-info">
        <h1>{{ stateSvc.config.about.title }}</h1>
        <div ng-if="composerMode" ng-hide="viewerMode">
            <a ng-click="openStoryModal()">Edit Story Info</a>
        </div>
    </div>
    <div class="preview">
        <div ng-if="composerMode" ng-hide="viewerMode && !adminViewerMode" class="form-field">
            <label for="timeline">Preview mode</label>
            <label class="switch">
                <input type="checkbox" for="sidebar"
                       ng-click="setPreviewMode();">
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    <div ng-if="composerMode" ng-hide="viewerMode" class="autosave">
        <button ng-click="saveMap()">Save</button>
        <button ng-click="publishMap()">Publish</button>
        <button ng-click="goHome()">Exit Composer</button>
    </div>
</header>
