<section>
    <h2 class="section-title">Legend Display Settings</h2>
    <form>
        <div class="form-field">
            <p>Choose whether viewers of your {{ stateSvc.config.branding.storyName }} will see a legend for this chapter.</p>
            <label class="switch">
                <input type="checkbox" for="legend">
                <div class="slider round"></div>
            </label>
            <label for="legend">Legend display</label>
        </div>
        <div class="form-field">
            <input type="checkbox" id="all_chapters" value="all_chapters">
            <label for="all_chapters">
                Apply to all chapters in this story
            </label>
        </div>
    </form>
</section>
<section>
    <form>
        <div class="form-field">
            <p>
                Customize how each {{ stateSvc.config.branding.layerName }} name should appear. Names entered here display
                in the legend, timeline, and your story, but do not affect the {{ stateSvc.config.branding.layerName }} itself.
            </p>
            <label for="layer1">Display name for "layer_name"</label>
            <br />
            <input id="layer1" type="text" name="layer1" />
        </div>
        <div class="form-field">
            <label for="layer2">Display name for "layer_2"</label>
            <br />
            <input id="layer2" type="text" name="layer2" />
        </div>
        <div class="form-field">
            <label for="layer3">Display name for "layer_3"</label>
            <br />
            <input id="layer3" type="text" name="layer3" />
        </div>
        <div class="form-field">
            <label for="layer4">Display name for "layer_4"</label>
            <br />
            <input id="layer4" type="text" name="layer4" />
        </div>
    </form>
</section>
