<div>
  <div id="legend-btn-border" class="legend-btn-border" tooltip-placement="left" tooltip-append-to-body="true"
    uib-tooltip="{{'toggle_legend' | translate}}">
    <div id="legend-btn" ng-click="toggleLegend()">
      <i class="glyphicon glyphicon-list-alt"></i>
    </div>
  </div>
  <div id="legend-container" class="panel">
    <div id="legend-panel" class="panel collapse legend-panel-body">
      <div id="legend-title-heading" class="panel-heading">
        <div class="legend-panel-title pull-left" id="legend-title-text" translate="legend_title"></div>
        <i class="glyphicon glyphicon-remove legend-panel-title pull-right" ng-click="toggleLegend()"></i>
      </div>
      <div class="panel in legend-panel-body" ng-repeat="layer in mapManager.storyMap.getStoryLayers().getArray()">
        <div class="panel-heading legend-item-header" data-toggle="collapse">{{ layer.get("title") }}
        </div>
        <div class="panel-collapse legend-item in legend-panel-body">
          <img alt="Layer Symbol" ng-src="{{getLegendUrl(layer)}}">
        </div>
      </div>
    </div>
  </div>
</div>
