<nav class="sidebar-nav">
    <a ng-click="selected = {layers:true}"><i class="fa fa-info-circle" ng-class="selected.layers && 'active'"></i></a>
    <a ng-click="selected = {settings:true}"><i class="fa fa-play-circle-o" ng-class="selected.settings && 'active'"></i></a>
    <a ng-click="selected = {legend:true}"><i class="fa fa-list-alt" ng-class="selected.legend && 'active'"></i></a>
    <a href="#"><i class="fa fa-clone"></i></a>
    <a ng-click="selected = {pins:true}"><i class="fa fa-map-pin" ng-class="selected.pins && 'active'"></i></a>
    <a ng-click="selected = {frames:true}"><i class="fa fa-object-group" ng-class="selected.frames && 'active'"></i></a>
</nav>
