<div class="sidebar" ng-init="selected = {toc:true}" ng-hide="mode.preview">
    <div class="sidebar-header">
        <div class="chapter-header">
            <a ng-click="selected = {toc:true}" class="toc-link">Table of Contents</a>
            <div class="chapter-nav">
                <a ng-click="previousChapter()" ng-disabled="mapManager.storyChapter == 1" class="arrow"><i class="fa fa-caret-left"></i></a>
                <h1 class="sidebar-title">{{ mapManager.storyChapter}} <strong>{{ mapManager.storyMap.getStoryTitle()  }}</strong></h1>
                <a ng-click="nextChapter()" ng-disabled="mapManager.storyChapter == mapManager.chapterCount" class="arrow"><i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-main">
      <ng-include src="'app/ui/templates/nav.html'"></ng-include>
        <div class="sidebar-content">
              <ng-include src="'app/ui/templates/toc.html'"></ng-include>
            </div>
            <div ng-if="selected.pins">
              <storypin-sidebar></storypin-sidebar>
            </div>
            <div ng-if="selected.layers">
              <ng-include src="'app/ui/templates/chapterInfo.html'"></ng-include>
            </div>
            <div ng-if="selected.frames">
              <ng-include src="'app/ui/templates/frames.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
