<div id="pins-editor"
     ng-if="selected.pins"
     class="floating style-editor-item"
     pins-editor
     pins-overlay="mapManager.storyMap.overlay">

    <!-- Pin Accordion -->
    <accordion close-others="false" ng-init="open={chooser:true, editor:false}">

        <!-- Pin List -->
        <accordion-group heading="StoryPins" is-open="open.chooser">
            <!-- TODO: Implement bulk upload-->
            <button class="btn btn-inverse">Bulk Upload</button>
            <!-- TODO: Send event that notifies that we are in "create new pin" state.-->
            <button class="btn btn-inverse" ng-click="open.editor = true; pinSvc.onNewStoryPin(stateSvc.getChapterIndex());">Add a
                StoryPin
            </button>

            <button class="btn btn-inverse" ng-click="pinSvc.turnPinDrawModeOn()">{{pinSvc.isDrawing ? "Cancel" : "Draw Pin"}}
            </button>
            <!-- TODO: What is this doing? -->
            <pin-chooser pin-selected="open.editor=true"></pin-chooser>

        </accordion-group>
    <div id="overlay" style="background-color: white; border-radius: 10px; border: 1px solid black; padding: 5px 10px;" ng-show="pinSvc.isDrawing"></div>
</div>

<section id="pin-list">
    <!--<script type="text/ng-template" id="group-template.html">-->
        <!--<div>-->
        <!--<div class="panel-heading">-->
          <!--<h4 class="panel-title">-->
            <!--<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">-->
              <!--<span uib-accordion-header ng-class="{'text-muted': isDisabled}">-->
                <!--{{heading}}-->
              <!--</span>-->
            <!--</a>-->
          <!--</h4>-->
        <!--</div>-->
        <!--<div class="panel-collapse collapse" uib-collapse="!isOpen">-->
          <!--<div class="panel-body" style="text-align: right" ng-transclude></div>-->
        <!--</div>-->
        <!--</div>-->
  <!--</script>-->

    <uib-accordion close-others=true>
        <!-- Gets pins from pin service-->
        <section ng-repeat="pin in pinSvc.getPins(stateSvc.getChapterIndex())">
            <div uib-accordion-group class="panel-default" is-open="uiHelperSvc.activePin === $index" ng-click=" uiHelperSvc.activePin === $index ? true : uiHelperSvc.togglePinForm({$index})">
                <uib-accordion-heading >
                    {{pin.title}}
                    <i class="fa fa-trash delete" ng-click="pinSvc.removePinByIndex({$index}, stateSvc.getChapterIndex())"></i>
                    <i ng-class="{'fa-caret-up': uiHelperSvc.activePin === $index,'fa-caret-down': uiHelperSvc.activePin !== $index}" class="fa float-right"></i>
                </uib-accordion-heading>
                <div id="pin-form-{{$index}}">
                    <form>
                        <div class="form-field">
                            <label for="storypin_title">StoryPin Title</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br/>
                            <input id="storypin_title" type="text" name="storypin_title" ng-model="pin.title"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </uib-accordion>
</section>
