<div ng-if="composerMode" ng-hide="viewerMode" class="modal-header">
    <h3 class="modal-title">Edit Story Info</h3>
</div>
<div class="modal-body">
    Title <input type="text" name="title" ng-model="stateSvc.config.about.title">
    Summary <textarea rows="4" cols="50" ng-model="stateSvc.config.about.abstract"></textarea>
    Category                     
    <select class="form-control" name="category" ng-model="stateSvc.config.about.category" ng-options="category as category.gn_description for category in stateSvc.categories track by category.id">
        <option value="">---------</option>
    </select>
</div>
<div class="modal-footer">
    <button ng-click="saveMap()">Save</button>
    <button ng-click="close()">Close</button>
</div>
