<div id="pins-editor"
     ng-if="selected.pins"
     class="floating style-editor-item"
     pins-editor
     pins-overlay="mapManager.storyMap.overlay">

    <!-- Pin Accordion -->
    <uib-accordion close-others="false" ng-init="open={chooser:true, editor:false}">
        <!-- Pin List -->
        <div uib-accordion-group heading="StoryPins" is-open="open.chooser">
            <!-- TODO: Implement bulk upload-->
            <button class="btn btn-inverse">Bulk Upload</button>
            <!-- TODO: Send event that notifies that we are in "create new pin" state.-->
            <button class="btn btn-inverse" ng-click="open.editor = true; pinSvc.onNewStoryPin(stateSvc.getChapterIndex());">Add a
                StoryPin
            </button>
            <button class="btn btn-inverse" ng-click="pinSvc.turnPinDrawModeOn()">{{pinSvc.isDrawing ? "Cancel" : "Draw Pin"}}
            </button>

            <!--<pin-chooser pin-selected="open.editor=true"></pin-chooser>-->
        </div>
        <div id="overlay" style="background-color: white; border-radius: 10px; border: 1px solid black; padding: 5px 10px;" ng-show="pinSvc.isDrawing">
      </div>
    </uib-accordion>

</div>

<section id="pin-list">
    <uib-accordion close-others=true>
        <!-- Gets pins from pin service-->
        <section ng-repeat="pin in pinSvc.getPins(stateSvc.getChapterIndex())">
            <div uib-accordion-group class="panel-default" is-open="uiHelperSvc.activePin === $index">
                <uib-accordion-heading>
                    <span ng-click="uiHelperSvc.togglePinForm({$index})">
                        {{pin.title}}
                        <i ng-class="{'fa-caret-up': uiHelperSvc.activePin === $index,'fa-caret-down': uiHelperSvc.activePin !== $index}" class="fa"></i>
                    </span>
                    <i class="fa float-right fa-trash delete" ng-click="pinSvc.removePinByIndex({$index}, stateSvc.getChapterIndex())"></i>
                </uib-accordion-heading>

                <div id="pin-form-{{$index}}">
                    <form>
                        <div class="form-field">
                            <label for="storypin_title">StoryPin Title</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br/>
                            <input id="storypin_title" type="text" name="storypin_title" ng-model="pin.title"/>
                        </div>
                        <div class="form-field">
                            <label for="storypin_text">StoryPin Text</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br/>
                            <input id="storypin_text" type="text" name="storypin_text"
                                   ng-model="pin.content"/>
                        </div>
                        <div class="form-field">
                            <label for="storypin_media">StoryPin Media</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br/>
                            <!-- TODO: Empty text areas don't work in all browsers-->
                            <input id="storypin_media" rows="10"  name="storypin_media" ng-model="pin.media" ng-change="" required/>
                        </div>

                        <!-- START DATE-->
                        <div class="form-field">

                            <label for="start_time">Start Time</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br/>
                            <!--<datetimepicker date-object="pin.start_time"-->
                                            <!--default-date="inserting"-->
                                            <!--id="start_time"></datetimepicker>-->

                            <div class="input-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        uib-datepicker-popup="{{pinSvc.format}}"
                                        ng-model="pin.start_time"
                                        is-open="pinSvc.startdate_popup.opened"
                                        datepicker-options="pinSvc.dateOptions"
                                        uib-init-date="false"
                                        init-date="false"
                                        ng-required="true"
                                        close-text="Close"
                                        alt-input-formats="pinSvc.altInputFormats" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="pinSvc.open_startdate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>

                        </div>
                        <!-- END DATE -->
                        <div class="form-field">
                            <label for="end_time">End Time</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br/>

                            <div class="input-group">
                                <input
                                        type="text"
                                        class="form-control"
                                        uib-datepicker-popup="{{pinSvc.format}}"
                                        ng-model="pin.end_time"
                                        is-open="pinSvc.enddate_popup.opened"
                                        datepicker-options="pinSvc.dateOptions"
                                        uib-init-date="false"
                                        init-date="false"
                                        ng-required="true"
                                        close-text="Close"
                                        alt-input-formats="pinSvc.altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="pinSvc.open_enddate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>

                            <!--<datetimepicker date-object="pin.end_time"-->
                                            <!--default-date="inserting"-->
                                            <!--id="end_time"></datetimepicker>-->
                        </div>
                        <div class="form-field">
                            <label for="storypin_playback_options">
                                StoryPin Playback Options
                            </label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" for="timeline"
                                       ng-init="pin.in_timeline = false"
                                       ng-model="pin.in_timeline">
                                <div class="slider round"></div>
                            </label>
                            <label for="timeline">Show StoryPin on Timeline</label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" for="map"
                                       ng-init="pin.in_map = true"
                                       ng-model="pin.in_map">
                                <div class="slider round"></div>
                            </label>
                            <label for="map">Show StoryPin on Map</label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" for="pause_playback">
                                <div class="slider round"></div>
                            </label>
                            <label for="pause_playback">
                                Pause playback when StoryPin appears
                            </label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" for="play_embedded"
                                       ng-init="pin.auto_show = false"
                                       ng-model="pin.auto_show">
                                <div class="slider round"></div>
                            </label>
                            <label for="play_embedded">
                                Play embedded StoryPin media automatically
                            </label>
                            <hr>
                            <input type="number" name="lat" ng-model="pin.coords[0]" placeholder="{{pin.coords[0]}}">
                            <input type="number" name="long" ng-model="pin.coords[1]" placeholder="{{pin.coords[1]}}">

                            <hr>
                            <button>Save</button>
                    </form>
                </div>
            </div>
        </section>
    </uib-accordion>
</section>
