<div class="sidebar-toc-content">
  <h1 class="sidebar-title"><strong>Table of Contents</strong></h1>
  <p class="sidebar-instructions">Click and drag to re-order chapters.</p>
  <button class="sidebar-button">Add New Chapter</button>
  <div ng-repeat="chapter in mapManager._config.chapters" class="contents-chapter">
      <div class="contents-summary">
          <h2 class="chapter-number">{{ chapter.id}}</h2>
          <h2>{{ chapter.about.title }}</h2>
          <i class="fa fa-trash delete"></i>
          <p>
              {{ chapter.about.abstract }}
          </p>
      </div>
      <a href="chapter_info.html" class="arrow"><i class="fa fa-lg fa-caret-right"></i></a>
  </div>
</div>
